<!DOCTYPE html>
<html data-bs-theme="light" lang="bg">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akaya+Kanadaka&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+SC&amp;display=swap">
    <link rel="stylesheet" href="assets/css/Font%20Awesome%205%20Brands.css">
    <link rel="stylesheet" href="assets/css/Font%20Awesome%205%20Free.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Testimonials-Centered-images.css">
</head>

<body style="font-family: 'Akaya Kanadaka', serif;">


    <!-- 404 Error Section -->
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <!-- 404 Icon or Image -->
                <img src="https://cdn.pixabay.com/photo/2017/03/09/12/31/error-2129569_1280.jpg" alt="404 Error" class="img-fluid mb-4" style="max-width: 300px; border-radius: 20px;">

                
                <!-- Error Message -->
                <h2 class="fs-3" style="font-family: 'Alegreya SC', serif;">Oops! Page Not Found</h2>
                <p class="lead">The page you're looking for doesn't exist or has been moved.</p>
                
                <!-- Back to Home Button -->
                <a class="btn btn-primary btn-lg mt-3" th:href="@{/}" style="background: #1ddec1; border-color: #1ddec1; border-radius: 25px;">
                    <i class="fas fa-home me-2"></i>Go Back Home
                </a>
            </div>
        </div>
    </div>



    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>